.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.featured,
.list {
  width: 80%;
  margin: 0 auto;
}

.featured {
  margin-bottom: 1rem;
}
