@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,400;0,600;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  width: 100%;
  background-color: #6ac045;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 2px 8px rgba(0 0 0 / 0.33);
}

.btn:active {
  scale: 0.97;
}

.accent {
  border: 1px solid #6ac045;
  color: #6ac045;
  background-color: white;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
